Procesar formulario web con notificación por correo y registro en hoja de cálculo.json
{
  "name": "Procesar formulario web con notificación por correo y registro en hoja de cálculo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "formulario-web",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "5c2dde6b-aeaa-41ed-960d-02962f907143",
      "name": "Recibir Formulario Web",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        688,
        -128
      ],
      "webhookId": "94f02dad-f7f4-4018-8773-7f7fa861d2aa"
    },
    {
      "parameters": {
        "sendTo": "<__PLACEHOLDER_VALUE__Dirección de correo del destinatario__>",
        "subject": "Nuevo formulario recibido",
        "message": "=Se ha recibido un nuevo formulario con los siguientes datos: {{ $json }}",
        "options": {}
      },
      "id": "0860a935-096a-4357-aa0a-edd7b2c7ecb9",
      "name": "Enviar Correo",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        -128
      ],
      "webhookId": "d0eba875-f13d-4caa-96f4-1a6207c03b0f",
      "credentials": {
        "gmailOAuth2": {
          "id": "MfCaD6TMoLdZXcqQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "<__PLACEHOLDER_VALUE__ID de la hoja de cálculo de Google__>"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "<__PLACEHOLDER_VALUE__Nombre de la hoja (ej: Hoja1)__>"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "A"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "8751a4b0-021b-41a2-81be-e4a5728d6e49",
      "name": "Registrar en Hoja de Cálculo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        -128
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kfqZLAF45hZr76s2",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir Formulario Web": {
      "main": [
        [
          {
            "node": "Enviar Correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Correo": {
      "main": [
        [
          {
            "node": "Registrar en Hoja de Cálculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16c300f8-77d7-4ada-bbff-96f6710a7380",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1373eae0044649f6e777fb76a9ec1424ead19944aa8949d880349f3344ad97cf"
  },
  "id": "t9Hemv41IG26RESz",
  "tags": []
}